httpx
flask[async]~=2.1.2
flask-login
Flask-Cors>=3.0.10
flask-wtf
Bootstrap_Flask
flask-httpauth
requests~=2.28.0
WTForms~=3.0.1
urllib3~=1.26.9
Flask-RESTful~=0.3.9
pandas
redis

# 部署相关
greenlet
eventlet
gevent
gunicorn
