{% extends "user/base.html" %}
{% from 'bootstrap5/form.html' import render_form,render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block head_add %}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    {{ render_messages() }}
                    {{ render_hidden_errors(form) }}
                    {{ render_form(form,form_type ="horizontal") }}
                </div>
                <div>
                    <h5>目前支持解析：</h5>
                    <ul style=''>
                        <li>
                            dalamud.log：卫月框架log
                        </li>
                    </ul>
                    <h5>暂不支持解析：</h5>
                    <ul>
                        <li>
                            Dalamud.Updater.log：更新器log
                        </li>
                        <li>
                            dalamud.injector.log：注入组件log
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}