{% extends "admin/base.html" %}
{% from 'bootstrap5/form.html' import render_form,render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>反馈处理</h2>
                <hr/>
                <div>
                    {% for i in feedback_list %}
                        <div style="padding: 5px;float:left;">
                            <a href="{{ url_for('admins._feedback_detail', plugin_name=v,feedback_id=k) }}" class="btn btn-outline-secondary"
                               style="width: 100% ;max-width: 584px;border-radius: 24px;margin: 0 auto">{{ i[1] }}#{{ i[2] }}|{{ i[0] }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr style="margin-top:10px"/>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="window.location.href='{{ url_for( 'admins._feedback_export') }}'">
                    问题总览
                </button>
            </div>


        </div>
    </div>
{% endblock %}