{% extends "admin/base.html" %}
{% from 'bootstrap5/form.html' import render_form,render_hidden_errors %}
{% from 'bootstrap5/utils.html' import render_messages %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>反馈详情 #{{ feedback_id }}</h2>
                <hr>
                <p>插件名称：{{ plugin_name }}</p>
                <p>错误级别：{{ level }}</p>
                <p>插件版本：{{ version }}</p>
                <p>反馈内容:<br/>{{ context }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>回复</h2>
                <hr>
                <form method="post" action="{{ url_for('admins._feedback_reply', feedback_id=feedback_id) }}">
                    {% csrf_token %}
                    {{ render_hidden_errors(form) }}
                    {{ render_form(form) }}
                    <button type="submit" class="btn btn-primary">回复</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}