{% extends "admin/base.html" %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>XLWeb服务状态：
                    {% if stauts == "running" %}
                        <span style="color:green">{{ stauts }}</span>
                    {% else %}
                        <span style="color:red">{{ stauts }}</span>
                    {% endif %}</h2>
                <p>{% for i in message %}
                    {{ i }}<br/>
                {% endfor %}
                </p>
                <div style="margin-bottom:2px; float: left;">
                    <button class="btn btn-primary px-2 py-1" type="button" style="font-size: 14px;" onclick="window.location.href='{{ url_for( 'admins._main_website') }}'">刷新状态
                    </button>
                    <button class="btn btn-primary px-2 py-1" type="button" style="font-size: 14px;" onclick="window.location.href='{{ url_for( 'admins._download_logs') }}'">下载日志
                    </button>
                </div>
                <div style="margin-bottom:2px; float: right;">
                    <button class="btn btn-primary px-2 py-1" type="button" style="font-size: 14px;" onclick="window.location.href='{{ url_for( 'admins._start_svr') }}'">开启服务
                    </button>
                    <button class="btn btn-primary px-2 py-1" type="button" style="font-size: 14px;" onclick="window.location.href='{{ url_for( 'admins._stop_svr') }}'">关闭服务
                    </button>
                    <button class="btn btn-primary px-2 py-1" type="button" style="font-size: 14px;" onclick="window.location.href='{{ url_for( 'admins._restart_svr') }}'">重启服务
                    </button>
                </div>

            </div>
            <br/>

            <div class="col-md-12">
                <hr/>
                <h2>重新擦车</h2>
                <div style="margin-bottom:2px; float: left;font-size: 14px;">
                    <button class="btn btn-primary px-2 py-1" type="button" onclick="window.location.href='{{ url_for( 'admins._rebuild_cache',cache = dalamud) }}'">dalamud</button>
                    <button class="btn btn-primary px-2 py-1" type="button" onclick="window.location.href='{{ url_for( 'admins._rebuild_cache',cache = xivlauncher) }}'"> xivlauncher</button>
                    <button class="btn btn-primary px-2 py-1" type="button" onclick="window.location.href='{{ url_for( 'admins._rebuild_cache',cache = plugin) }}'"> plugin</button>
                    <button class="btn btn-primary px-2 py-1" type="button" onclick="window.location.href='{{ url_for( 'admins._rebuild_cache',cache = asset) }}'"> asset</button>
                    <button class="btn btn-primary px-2 py-1" type="button" onclick="window.location.href='{{ url_for( 'admins._rebuild_cache',cache = dalamud_changelog) }}'"> dalamud_changelog
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}